version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: spidercontractors
      POSTGRES_PASSWORD: spidercontractorslimited
      POSTGRES_DB: spiderdatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "postgresql://spidercontractors:spidercontractorslimited@db:5432/spiderdatabase"
    depends_on:
      - db

volumes:
  postgres_data: 